<!--templates/home.html-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'ticket_class_view_2' %}">타이타닉 차트</a></li>

  </ul>

  <p>예제 코드는 <a href="https://simpleisbetterthancomplex.com/tutorial/2018/04/03/how-to-integrate-highcharts-js-with-django.html">How to Integrate Highcharts.js with Django</a> 기사에서 가져왔습니다.</p>
  <p>예제 코드는 <a href="https://github.com/sibtc/django-highcharts-example">GitHub</a>에서 다운로드 가능합니다.</p>
</body>
</html>