<!--templates/ticket_class_2.html-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>타이타닉 하이차트</title>
</head>
<body>
    <a href="{% url 'home' %}">Return to homepage</a>
    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
      Highcharts.chart('container', {
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: '좌석 등급에 따른 타이타닉 생존/ 비 생존 인원 및 생존율'
                  },
                  xAxis: [{
                      categories: ['1 등석', '2 등석', '3 등석']
                  }],
        yAxis: [{ // Primary yAxis
    labels: {
      format: '{value}명',
      style: {
        color: Highcharts.getOptions().colors[1]
      }
    },
    title: {
      text: '인구수',
      style: {
        color: Highcharts.getOptions().colors[1]
      }
    }
  }, { // Secondary yAxis
    title: {
      text: '생존율',
      style: {
        color: Highcharts.getOptions().colors[0]
      }
    },
    labels: {
      format: '{value}%',
      style: {
        color: Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
                  series: [{
                      name: '생존',
                      data: {{ survived_series }},
                      color: 'green'
                  }, {
                      name: '비생존',
                      data: {{ not_survived_series }},
                      color: 'red'
                  }]
              });
    </script>
</body>
</html>
